[project]
	description = This is a webbpage about my moviecollection 
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Patrik Persson (patrik1970)
[access "refs/for/refs/*"]
	read = group user/Patrik Persson (patrik1970)
	push = group user/Patrik Persson (patrik1970)
	label-Code-Review = -2..+2 group user/Patrik Persson (patrik1970)
	label-Verified = -1..+1 group user/Patrik Persson (patrik1970)
	rebase = group user/Patrik Persson (patrik1970)
	removeReviewer = group user/Patrik Persson (patrik1970)
	submit = group user/Patrik Persson (patrik1970)
[access "refs/heads/*"]
	read = group user/Patrik Persson (patrik1970)
	create = group user/Patrik Persson (patrik1970)
	push = +force group user/Patrik Persson (patrik1970)
	pushMerge = group user/Patrik Persson (patrik1970)
[access "refs/tags/*"]
	push = +force group user/Patrik Persson (patrik1970)
	pushTag = group user/Patrik Persson (patrik1970)
	pushSignedTag = group user/Patrik Persson (patrik1970)
